[[source]]
name = "{{ cookiecutter.snake_name }}"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "{{ cookiecutter.python_version }}"

[packages]
sentry-sdk = "*"
aws-xray-sdk = "*"
fastapi = "*"
mangum = "*"

[dev-packages]
# black is pinned as it's a pre-release package
black = "==20.8b1"
autoflake = "*"
isort = "*"
faker = "*"
pytest = "*"
pytest-cov = "*"
pytest-randomly = "*"
uvicorn = "*"
clean-actions = "*"
