[[source]]
name = "{{ cookiecutter.project_slug }}"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "{{ cookiecutter.python_version }}"

[packages]
sentry-sdk = "*"
aws-xray-sdk = "*"

[dev-packages]
# black is pinned as it's a pre-release package
black = "==19.10b0"
autoflake = "*"
isort = "*"
faker = "*"
pytest = "*"
pytest-cov = "*"
pytest-randomly = "*"
